


/*Fonts*/


@font-face {
    font-family: avantbold;
    src: url(../fonts/ITCAvantGardeStd-Bold.otf);
}


@font-face {
    font-family: avantxlt;
    src: url(../fonts/ITCAvantGardeStd-XLt.otf);
}


@font-face {
    font-family: avantbook;
    src: url(../fonts/ITCAvantGardeStd-Bk.otf);
}




/*Generic Adjusts*/


* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	background-color: white;
	font-size: 18px;
	width: 100%;
}

html, body {
  height:100%;
}


p {
	font-family: avantxlt, sans-serif;
	font-size: 1em;
	letter-spacing: .05em;
	line-height: 1.4em;
}

h1, h2, h3, h4 {
	font-family: avantbold, sans-serif;	
}



.clearfix:after {
 	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
 	height: 0;
}




/*Welcome Page*/


#welcome_page {
	background: url(../images/opera_house_vivid.jpg) #6d6e71;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.1);
	height:100%;
	width: 100%;
}


/*.line_diagonal {
	position: fixed;
    width:100%;
    top:6.5em;
    left:-35px;
    border:none;
	height:.3em;
			background-color: #ec008c;

     transform:rotate(-1deg);
     -o-transform:rotate(-1deg);
     -moz-transform:rotate(-1deg);
     -webkit-transform:rotate(-1deg);
     z-index: 20;
 }*/

#topheader {
	/*background-color: white;*/
	position: fixed;
	width: 100%;
	height: 120px;
}

#croocked {

	background-color: white;
	position: fixed;
	width: 120%;
	top: -8em;
	left: -1em;
	height: 15em;
	transform:rotate(-3deg);
     -o-transform:rotate(-3deg);
     -moz-transform:rotate(-3deg);
     -webkit-transform:rotate(-3deg);

 }

header {
	position: fixed;
	right: 10%;
	top: 2em;
	width: 100%;
}

#navtop {
	padding-top: .3em;
	float: right;
	margin-right: 2em;
}

#navtop a {
	margin: 0 1em;
	font-family: avantxlt, sans-serif;
	color: #686868;
	text-transform: uppercase;
	text-decoration: none;
	list-style-type: none;
	font-size: .9em;
	letter-spacing: .2em;
}

#navtop a:hover {
	color: #ec008c;
}


#logo {
	position: fixed;
	left: 10%;
	top: 2em;
	width: 150px;
}

#wrapper_social {
	float: right;
}

#sociallogos {
float: left;
}

#sociallogos a {
	display: block;
	width: 30px;
	height: 30px;
}


#insta {
	display: inline-block;
	background: url(../images/icons/insta_grey.svg);
	width: 30px;
	height: 30px;
}

#insta:hover {
	background: url(../images/icons/insta_pink.svg);

}

#twitter {
	display: inline-block;
	background: url(../images/icons/twitter_grey.svg);
	margin: 0 .5em;
	width: 30px;
	height: 30px;
}

#twitter:hover {
	background: url(../images/icons/twitter_pink.svg);

}

#email {
	display: inline-block;
	background: url(../images/icons/email_grey.svg);
	width: 30px;
	height: 30px;
}

#email:hover {
	background: url(../images/icons/email_pink.svg);

}

#welcome_page p {
	font-family: avantxlt, sans-serif;
	color: white;
	font-size: 3em;
	padding-top: 7em;
	letter-spacing: .05em;
	text-align: center;
}

#arrow img {
	display: block;
	width: 130px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}




/*Work Page*/


#work {
	background-color: #5b318e;
	height: 100%;
}

#workwrapper {
	padding: 17.5% 10% 10% 10%;
}

#headline {
	float: left;
	width: 25%;
	/*margin-left: 5em;*/
}

#headline h1 {
	/*color: #ec008c;*/
	color: white;
	font-size: 4em;
	line-height: .7em;
}


#headline hr {
	border:none;
	height:.5em;
	/*background-color: #5b318e;*/
		background-color: #ec008c;

	width:5em;
	margin-top: .5em;
}


#headline p {
	font-family: avantxlt, sans-serif; 
	text-transform: uppercase;
	text-indent: -.6em;
	line-height: 1.1em;
	width: 100%;
	margin-top: 6em;
	color:white;
	font-size: 1.5em;
}


p #disclamer {
	font-size: .5em;
	text-transform: none;

}

p #quote {
	position: relative;
	font-family: avantbold, sans-serif;	
	color: #ec008c;
	font-size: 3em;
	top: 0.48em;
	/*padding: 0 .1em; */
}

p #quote2 {
	font-family: avantbold, sans-serif;	
	color: #ec008c;
}


/*Gallery*/


#gallery {
	float: right;
	background-color: darkgrey;
	/*padding-top: 5em;*/
	width: 60%;
	margin: 0 auto;
}

#column1 {
	background: url(../images/ohbw.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	background-size: length;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
	float: left;
	object-fit: cover;
	width: 50%;
	height:12em;
}

#column1:hover {
	background: url(../images/oh2.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	background-size: length;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
	float: left;
	object-fit: cover;
}


#column2 {
	background: url(../images/cable_beachbw.jpg) lightgrey no-repeat;
	background-size: cover;
	background-position: center;
	background-size: length;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
	float: left;
	width: 50%;
	height:12em;
}

#column2:hover {
	background: url(../images/cable_beach2.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	background-size: length;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
	float: left;
	object-fit: cover;
}

#column3 {
	background: url(../images/cable_beachbw.jpg) lightgrey no-repeat;
	background-size: cover;
	background-position: center;
	background-size: length;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
	float: left;
	width: 50%;
	height:12em;
}



#column3:hover {
	background: url(../images/cable_beach2.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	background-size: length;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
	float: left;
	object-fit: cover;
}

#column4 {
	background: url(../images/ohbw.jpg) darkgrey no-repeat;
	background-size: cover;
	background-position: center;
	background-size: length;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
	float: left;
	width: 50%;
	height:12em;
}

#column4:hover {
	background: url(../images/oh2.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	background-size: length;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
	float: left;
	object-fit: cover;
}

.column h3 {
	font-family: avantxlt, sans-serif;
	color: white;
	/*text-transform: uppercase;*/
	font-size: 1.2em;
	letter-spacing: .05em;
	color: white;
	text-align: center;
	padding-top: 5em;
}

/*.column :hover {
		font-family: avantxlt, sans-serif;
		text-transform: none;
		letter-spacing: .0;
}*/


/*About Me*/


#about_me {
	background-color: #0099EF;
	height: 100%;
}

#about {
	padding: 17.5% 10% 10% 10%;
}


figure {
	float: left;
	width: 30%;
}

aside {
	float: right;
	width: 60%;
}


figure img {
	width: 100%;
}

figure h3 {
	color:white;
	margin-top: .5em;
}

figure p {
	/*color: white;*/
	/*color: #505050;*/
	color: white;
	font-size: .8em;
}

aside h1 {
	/*color: #ec008c;*/
	color: white;
	font-size: 4em;
	line-height: .7em;
		/*margin-top: .7em;*/

}


aside hr {
	border:none;
	height:.5em;
	/*background-color: #5b318e;*/
		background-color: #ec008c;

	width:5em;
	margin-top: .5em;
}


aside p {
	/*color: #505050;*/
	color: white;
	margin-top: 2em;
	columns: 2;
	column-gap: 2em;

}




/*Footer*/

footer {
	background-color: #686868;
	height: 6em;
}

#footer_content {
	width: 80%;
	margin: 0 auto;
}


#logo_footer img {
	width: 150px;
	float: left;
	padding-top: 2em;
}

#sociallogos_footer {
	padding-top: 2.5em;
}

#sociallogos_footer {
	float: right;
}



#nav_footer_content {
	padding-top: 2.5em;

}

#navfooter {
	padding-top: .3em;
	float: right;
	margin-right: 2em;
}

#navfooter a {
	margin: 0 1em;
	font-family: avantxlt, sans-serif;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	list-style-type: none;
	font-size: .9em;
	letter-spacing: .2em;
}


/*#navfooter a:hover {
	color: #686868;
}*/


#sociallogos_footer a {
	display: block;
	width: 30px;
	height: 30px;
}

#instafooter {
	display: inline-block;
	background: url(../images/icons/insta_white.svg);
	width: 30px;
	height: 30px;
}

/*#instafooter:hover {
	background: url(../images/insta_blue.svg);

}*/

#twitterfooter  {
	display: inline-block;
	background: url(../images/icons/twitter_white.svg);
	margin: 0 .5em;
	width: 30px;
	height: 30px;
}

/*#twitterfooter:hover {
	background: url(../images/twitter_blue.svg);

}*/

#emailfooter  {
	display: inline-block;
	background: url(../images/icons/email_white.svg);
	width: 30px;
	height: 30px;
}

/*#emailfooter:hover {
	background: url(../images/email_blue.svg);

}*/







