. {
	margin: 0px;
	padding: 0px;
}


img {
	margin-top: 200px;
}

hr {
	margin-top: 20px;
	width: 150px;
}

body {
  	text-align: center;
  	background: url("../images/black_florest.jpg");
  	background-size: cover;
  	color: #fff;
  	font-family: Helvetica, arial, sans-serif;
}

p {
	font-weight: 100;
	letter-spacing: .5px;
}

.textbold {
	font-weight: 600;
}

.social {
	margin-top: -10px;
	width: 30px;
	height: 30px;
}

#hyper {
	text-decoration: none;
	color: #FFFFFF;
	font-weight: 600;
}