/*Color 

Blue: #0199ef;
Pink: #ed008c;
Purple: #5a318e;
Dark Grey: #686868;
Black: #1b1b1b;


*/



/*Fonts*/


@font-face {
    font-family: gilroyXbold;
    src: url(../fonts/Gilroy-ExtraBold.otf);
}


@font-face {
    font-family: gilroyLight;
    src: url(../fonts/Gilroy-Light.otf);
}


@font-face {
    font-family: gilroyMedium;
    src: url(../fonts/Gilroy-Medium.otf);
}




/*Generic Adjusts*/


* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	background-color: white;
	font-size: 18px;
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
}

html, body {
  height:100%;
}


p {
	font-family: gilroyLight, sans-serif;
	letter-spacing: .05em;
	line-height: 1.4em;
}

h1, h2, h3, h4 {
	font-family: gilroyXbold, sans-serif;	
}



.clearfix:after {
 	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
 	height: 0;
}




/*Welcome Page*/


#welcome_page {
	position: relative;
	overflow: hidden;
	background: url(../images/opera_house_vivid.jpg) #6d6e71;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.1);
	object-fit: contain;
	height:100vh;
	width: 100%;
}

#wrappercroocked {
	position: fixed;
	overflow: hidden;
	max-width: 1440px;
	width: 100%;
	height: 8em;
	z-index: 1;
}

#croocked {
	background-color: white;
	position: absolute;
	width: 120%;
	top: -8em;
	left: -1em;
	height: 13em;
	 box-shadow: 0 4px 2px -2px rgba(0,0,0,0.1);
	-webkit-transform:rotate(-2deg);
    -moz-transform:rotate(-2deg);
    -o-transform:rotate(-2deg);
    transform:rotate(-2deg);

 }


#header_content {
	position: relative;
	margin: 0 auto;
	z-index: 2;
}

header {
	position: fixed;
	max-width: 1350px;
	margin: 0 auto;
	height: 2em;
	left: 5%;
	right: 5%;
	top: 1em;
}

#logo img {
	width: 150px;
	float: left;
}

#top_content {
	float: right;
}

#navtop {
	float: left;
	padding-top: .7em;
	margin-right: 2em;
}



#navtop a {
	padding: 0 1em;
	font-family: gilroyLight, sans-serif;
	color: #686868;
	text-transform: uppercase;
	text-decoration: none;
	list-style-type: none;
	font-size: .9em;
	letter-spacing: .2em;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#navtop a:hover {
	color: #ec008c;
}

.top_bar {
	float: left;
}

.solocial_logos {
	display: inline-block;
	width: 30px;
	height: 30px;
 }

#sociallogos_top {
	padding-top: .4em;
}



#insta {
	fill: #686868;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#insta:hover {
	fill: #ec008c;
}

#twitter {
	fill: #686868;
	margin: 0 .5em;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#twitter:hover {
	fill: #ec008c;
}

#email {
	fill: #686868;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#email:hover {
	fill: #ec008c;
}

label {
	padding: 0 5% 0 5%;
	color: #686868;
	font-size: 2.5em;
    display: none;
}

#toggle {
	display: none;
}

#wrappercroockedbelow {
	display: none;
}


#welcome_copy {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

#welcome_copy p {
	font-family: gilroyLight, sans-serif;
	color: white;
	font-size: 3em;
	letter-spacing: .05em;
	line-height: 1.2em;
	text-align: center;
}

#welcome_copy hr {
	border:none;
	height:.5em;
	background-color: #ec008c;
	width: 5em;
	margin: .3em auto .8em;
}

#welcome_copy p:first-child {
	font-size: 1.5em;
}



#arrow img {
	width: 7em;
}

#arrow {
	position: absolute;
	top: 85%;
	left: 50%;
    transform: translate(-50%, 0);
}

.divider {
	position: absolute;
	text-align: center;	
	bottom: -1px;	
	left: -10px;
	width: 110%;
}

.divider3 {
	position: absolute;
	text-align: center;	
	top: -1px;	
	left: -10px;
	width: 110%;	
}

.divider2 {
	position: absolute;
	text-align: center;	
	top: -1px;	
	left: -10px;
	width: 110%;	
}


.divider4 {
	position: absolute;
	text-align: center;	
	bottom: -1px;	
	left: -10px;
	width: 110%;
}



/*Quote Div*/



.quotediv {
	background-color: #ec008c;
	padding: 3em;
	text-align: center;
	margin-right: 0;
	padding-right: 0;


}

#disclamer {
	font-size: 1em;
}

p #quote {
	position: relative;
	font-family: gilroyXbold, sans-serif;	
	color: #0099EF;
	font-size: 3em;
	top: 0.45em;
	z-index: 0;
}

p #quote2 {
	font-family: gilroyXbold, sans-serif;	
	color: #0099EF;
}

.quotediv p {
	font-family: gilroyLight, sans-serif; 
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	color: white;
	font-size: 2.5em;
	line-height: 1.5em;
}




/*Work Page*/


#work {
	position: relative;
	overflow: hidden;
	display: flex;
	margin: auto;	
	flex-flow: row wrap;
	background-color: #1b1b1b;
	width: 100%;
}

#workwrapper {
	flex: 0 0 80%;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	margin: auto;
	padding-top: 10em;
	padding-bottom: 5em;
}

#left_content {
	display: flex;
	flex-flow: column;
	flex: 0 0 30%;
	margin-right: 10%;
	align-self: flex-end;
}


.gallery {
	display: flex;
	flex-flow: row wrap;
	flex: 0 0 60%;
}


#heading h1 {
	color: white;
	opacity: .5;
	font-size: 4em;
	line-height: .7em;
}

#heading hr {
	border:none;
	height:.5em;
	background-color: #ec008c;
	width: 5em;
	margin-top: .5em;
	margin-bottom: 3em;
}

.copywork {
	display: flex;
	flex-flow: column;
}

.copywork p {
	color: white;
	opacity: .5;
	margin-bottom: 1.2em;
}

#arrowbutton_work {
	position: absolute;
    right: 1.15em;
    top: .28em;
	font-size: 2em;
	color: #0099EF;
	letter-spacing: -.1em;
}


#button_work a {
	display: inline-block;
	position: relative;
    background-color: #ec008c;
    font-family: gilroyMedium, sans-serif;
    text-transform: lowercase;
    letter-spacing:.02em;
    color: white;
    padding: 1em 0;
    width: 10em;
    text-indent: -1em;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 3px;
}


#button_work a:hover {
	background-color: white;
	color: #ec008c;
}



/*Gallery*/




.gallery a {
	text-decoration: none;
}

.column {
	margin: 1%;
	border-radius: 5px;
}

#column1 {
	background: url(../images/oh2.jpg) black no-repeat;
	background-position: center;
	-webkit-background-size: length;
	-moz-background-size: length;
	-o-background-size: length;
	background-size: length;
	vertical-align: middle;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
	object-fit: cover;
	flex: 0 0 48%;
	height:12em;
	filter: grayscale(100%);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#column1:hover {
	filter: grayscale(0);
}

#column1:active {
	filter: grayscale(0);
}





#column2 {
	background: url(../images/../images/cable_beach2.jpg) black no-repeat;
	background-position: center;
	-webkit-background-size: length;
	-moz-background-size: length;
	-o-background-size: length;
	background-size: length;
	vertical-align: middle;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
	object-fit: cover;
	flex: 0 0 48%;
	height:12em;
	filter: grayscale(100%);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#column2:hover {
	filter: grayscale(0);
}

#column2:active {
	filter: grayscale(0);
}


#column3 {
	background: url(../images/cable_beach2.jpg) black no-repeat;
	background-position: center;
	-webkit-background-size: length;
	-moz-background-size: length;
	-o-background-size: length;
	background-size: length;
	vertical-align: middle;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
	object-fit: cover;
	flex: 0 0 48%;
	height:12em;
	filter: grayscale(100%);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#column3:hover {
	filter: grayscale(0);
}

#column3:active {
	filter: grayscale(0);
}

#column4 {
	background: url(../images/oh2.jpg) black no-repeat;
	background-position: center;
	-webkit-background-size: length;
	-moz-background-size: length;
	-o-background-size: length;
	background-size: length;
	vertical-align: middle;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
	object-fit: cover;
	flex: 0 0 48%;
	height:12em;
	filter: grayscale(100%);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#column4:hover {
	filter: grayscale(0);
}

#column4:active {
	filter: grayscale(0);
}


.column h3 {
	font-family: gilroyLight, sans-serif;
	color: white;
	font-size: 1.2em;
	letter-spacing: .05em;
	color: white;
	text-align: center;
	padding-top: 5em;
}


/*Work Pics*/


#workpicscontainer {
	background-color: #1b1b1b;
	width: 100%;
	max-height: initial;
	color: white;
	text-align: left;
	overflow: hidden;
}

#workpicsAus, #workpicsEuro, #workpicsRotw, #workpicsPrsl {
	display: none;
	padding-bottom: 2em;

}



.picsheading {
    font-family: gilroyLight, sans-serif;
	text-align: center;
	color: white;
	font-size: 2.5em;
	margin-bottom: 1em;
	margin-top: 3em;
	opacity: .5;
}


.pics {
	display: block;
	position: relative;
	margin: 0 auto;
	width: 60%;
	margin-bottom: 4em;	
}


.textimg {
	position: absolute;
	bottom: 2em;
	left: 2em;
    opacity: .5;
}

.pics img {
	width: 100%;
}

.pics h4 {
	text-transform: uppercase;
	margin-bottom: .3em;
	font-family: gilroyLight, sans-serif;
	letter-spacing: .05em;
}

.pics p {
	font-size: .6em;

}

.pics a {
	width: 100%;
	height: 100%;
}

.workpics h3 {
	font-family: gilroyLight, sans-serif;
	text-align: center;
	color: white;
	font-size: 2.5em;
	margin-bottom: 1em;
	margin-top: 2em;
}

.pics:last-of-type {
	margin-bottom: 2em !important;
	background-color: blue;	
}

#arrowup {
	margin: 0 auto;
	width: 5em;
	-webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    transform:rotate(180deg);
	margin-bottom: 2em;
	opacity: .5;

}

#backtotop {
	display: block;
	text-decoration: none;
	color: white;
	font-family: gilroyLight, sans-serif;
	text-align: center;
	letter-spacing: .05em;
	opacity: .5;
}


/*About Me*/


#about {
	position: relative;
	overflow: hidden;
	background-color: #0099EF;
	display: flex;
	justify-content: center;
	margin: auto;
	width: 100%;
	padding-top: 10em;
    padding-bottom: 5em;

}

#about_wrapper{
	flex: 0 0 80%;
	display: flex;	
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
	margin: auto;
}

figure {
	flex: 0 0 35%;
}

aside {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	flex: 0 0 50%;
}

figure img {
	width: 100%;
	min-width: 300px;
	border-radius: 5px;
}

figure h3 {
	color:white;
	margin-top: .5em;
}

figure p {
	color: white;
	font-size: .8em;
}

aside h1 {
	color: white;
	font-size: 4em;
	line-height: .7em;
}

aside hr {
	border:none;
	height:.5em;
	background-color: #ec008c;
	width: 5em;
	margin-top: .5em;
	margin-bottom: 2em;
}

aside p {
	color: white;
	margin-bottom: 1.2em;
}

#button_about a {
	display: inline-block;
	position: relative;
    background-color: #ec008c;
    font-family: gilroyMedium, sans-serif;
    text-transform: lowercase;
    letter-spacing:.02em;
    color: white;
    padding: 1em 0;
    width: 10em;
    text-indent: -1em;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 3px;
}

#arrowbutton {
	position: absolute;
    right: .8em;
    top: .28em;
	font-size: 2em;
	color: #0099EF;
	letter-spacing: -.1em;
}

#button_about a:hover {
	background-color: white;
	color: #ec008c;

}


/*Footer*/


footer {
	position: relative;
	background-color: #686868;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 25em;
}

#footer_content {
	display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: right;
    flex-basis: 80%;

}

.bottom_bar {
	margin-bottom: 1.5em;
}


#navfooter_wrapper {
	display: flex;
	flex: 32%;
	order: 1;
    flex-flow: column wrap;
    text-align: left;
    justify-content: space-between;
}

#navfooter_wrapper img {
	width: 150px;

}



.address p {
	margin-bottom: 1em;
	color: white;
	font-size: .7em;
	text-transform: uppercase;
	font-size: .9em;
	letter-spacing: .2em;
}

#copyright {
	color: white;
	font-size: .5em;
	letter-spacing: .1em;

}


#navfooter {
	text-align: left;
	margin: 1.5em 0;

}


#navfooter a:last-child {
	margin-top: 1em; 
}


#navfooter a {
	display: block;
	font-family: gilroyLight, sans-serif;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	list-style-type: none;
	font-size: .9em;
	letter-spacing: .2em;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#navfooter a:hover {
	color: #B0B0B0;
}



#instafooter {
	fill: white;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#instafooter:hover {
	fill: #B0B0B0;
}


#twitterfooter  {
	margin: 0 .5em;
	fill: white;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#twitterfooter:hover  {
	fill: #B0B0B0;
}

#emailfooter  {
	fill: white;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#emailfooter:hover  {
	fill: #B0B0B0;
}


.form {
	order: 2;
	display: flex;
	flex: 32%;
	flex-flow: column wrap;
	text-align: left;
	margin: 0 4% 0 0;
}

.form h2 {
	font-family: gilroyLight, sans-serif;
	color: white;
	text-transform: uppercase;
	font-size: .9em;
	letter-spacing: .1em;
	margin-bottom: .5em;
}

.form form{
	display: flex;
	flex-flow: column;
	width: 100%;

}

form input, textarea {
	font-family: gilroyMedium, sans-serif;
	background-color: rgba(246, 246, 246, .75);
	font-size: .9em;
	letter-spacing: .05em;
	line-height: 1.4em;
	padding: .8em 0 .8em 1em;
	margin: .5em 0;
	border: 0;
	font-size: .8em;
	border-radius: 3px;
}

form textarea {
	height: 5em;
}

form button {
	position: relative;
	margin-top: .5em;
	background-color: rgba(40, 41, 35, .5);
    font-family: gilroyMedium, sans-serif;
    text-transform: lowercase;
    letter-spacing:.02em;
    color: white;
    width: 10em;
    text-indent: -1em;
    padding: 1em 0;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-size: 1em;
    cursor: pointer;
    border: 0;
    border-radius: 3px;
}

#arrowbutton-contact {
	position: absolute;
    top: .22em;
    right: 1.3em;
    font-size: 2em;
    color: #0099EF;
    letter-spacing: -.1em;
}


form button:hover {
	background-color: rgba(40, 41, 35, 1);
	color: white;
}

.map {
	order: 3;
	flex: 32%;
	text-align: left;
}

.map h2 {
	font-family: gilroyLight, sans-serif;
	color: white;
	text-transform: uppercase;
	font-size: .9em;
	letter-spacing: .1em;
	margin-bottom: .9em;
}

iframe {
	 width: 100%;
	 height: 269px;
	 border: 0;
}


@media only screen and (max-width: 1200px) {

	#workwrapper {
		flex-flow: nowrap column;
	}

	#left_content {
		flex-flow: row;
		flex: 0 0 100%;
		margin-right: 0;
		justify-content: space-between;
		margin-bottom: 3em;
	}

	.gallery {
		display: flex;
		flex-flow: row wrap;
		flex: 0 0 100%;
	}

	#left_content #heading {
		flex-basis: 20%;
		margin-right: 5%;
	}

	.copywork {
		flex-basis: 65%;
	    text-align: right;
	    align-items: flex-end;
	}

	#heading hr {
		margin-bottom: 0;
 	} 

	.quotediv { 
		padding: 3em 2em;
	}

	.quotediv p {
		width: 85%;
		font-size: 2.5em;
		line-height: 1.4em;
	}

	#navfooter_wrapper, .map, {
		flex: 0 0 50%;
	}

	.form {
		margin-top: 2em;
		margin-right: 0;
		order: 3;
		flex: 100%;
		padding-top: 2em;
		border-top: 1px solid rgba(246, 246, 246, .2);	
	}

	footer {
		height: 46em;
	}

	#footer_content {
		justify-content: flex-start;
	}
}


@media only screen and (max-width: 1000px) {

	.quotediv { 
		padding: 3em 2em;
	}

	.quotediv p {
		width: 85%;
		font-size: 2.5em;
		line-height: 1.4em;
	}

	.gallery {
		flex: 65%;
	}

	#about_wrapper{
		flex: 0 0 80%;
		display: flex;	
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: flex-start;
		margin: auto;
	}

	figure {
		flex: 0 0 100%;
		text-align: center;
		margin-bottom: 3em;
	}

	figure img {
		max-width: 400px;
	}

	aside {
		flex: 0 0 100%;
		text-align: center;
	}

	aside hr {
		margin-left: auto;
		margin-right: auto; 
	}

	aside p {
		width: 80%;
		align-self: center;
	}


}



@media only screen and (max-width: 800px){

	.header_content_fix {
		position: absolute !important;
	}

	#navtop a {
		padding: 0 .5em;
	}

	#workwrapper {
	    padding-top: 6.5em;
	}

	.quotediv p {
		width: 95%;
		font-size: 2em;
		line-height: 1.4em;
	}

	#heading h1 {
		color: white;
		font-size: 3em;
		line-height: .7em;
	}

	#heading hr {
		border:none;
		height:.4em;
		background-color: #ec008c;
		width: 5em;
		margin-top: .5em;
	}

	#heading {
		float: left;
	}

	.pics {
		width: 100%;
	}

	.picsheading {
		margin-top: 1.25em;
	}

	aside p {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	figure p {
		color: white;
		font-size: .7em;
	}

	aside h1 {
		font-size: 3em;
		line-height: .7em;
	}

	aside hr {
		height:.4em;
		margin-bottom: 1em;
		margin-left: auto;
		margin-right: auto;
	}

	figure p {
		margin-bottom: 4em;
	}
}


@media only screen and (max-width: 700px){

	body {
		font-size: 16px;
	}

	#header_content {
		width: 100%;
	}

	header {
		top: 1.5em;
		left: 0;
		right: 0;
	}

	label {
		width: 35px;
		margin-left: auto;
		display: block;
	}

	.container {
	    display: inline-block;
	    cursor: pointer;
	}

	.bar1, .bar2, .bar3 {
	    width: 35px;
	    height: 2px;
	    background-color: #333;
	    margin: 6px 0;
	    -webkit-transition: 0.4s;
	    -moz-transition: 0.4s;
	    -o-transition: 0.4s;
	    transition: 0.4s;
	}

	.change .bar1 {
	    -webkit-transform: rotate(-45deg) translate(-4px, 3px);
	    -moz-transform: rotate(-45deg) translate(-4px, 3px);
	    -o-transform: rotate(-45deg) translate(-4px, 3px);
	    transform: rotate(-45deg) translate(-4px, 3px);
	}

	.change .bar2 {
		opacity: 0;
	}

	.change .bar3 {
	    -webkit-transform: rotate(45deg) translate(-8px, -8px);
	    -moz-transform: rotate(45deg) translate(-8px, -8px);
	    -o-transform: rotate(45deg) translate(-8px, -8px);
	    transform: rotate(45deg) translate(-8px, -8px);
	}

	#wrappercroockedbelow {
		position: absolute;
		display: block;
		top: 0;
		overflow: hidden;
		width: 100%;
		height: 27em;
		z-index: -1;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
	    -o-transition: all 0.2s ease-in-out;
	    transition: all 0.2s ease-in-out;
	}

	#croocked {
		height: 14em;
	}

	#croockedbelow {
		background-color: white;
		position: absolute;
		width: 120%;
		top: -8em;
		left: -1em;
		height: 27em;
		-webkit-transform:rotate(-2deg);
	    -moz-transform:rotate(-2deg);
	    -o-transform:rotate(-2deg);
	    transform:rotate(-2deg);
	 }

	#navtop, #sociallogos_top, #wrappercroockedbelow {
		opacity: 0;
	}

	#toggle:checked ~ nav {
		opacity: 1;
	}

	#toggle:checked ~ #sociallogos_top {
		opacity: 1;
	}

	#toggle:checked ~ #wrappercroockedbelow {
		opacity: 1;
	}

	#welcome_page {
		background: url(../images/opera_house_vivid_vertical.jpg) #6d6e71;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position: bottom;
		background-attachment: fixed;
		box-shadow: inset 0 0 0 1000px rgba(0,0,0,.1);
		object-fit: contain;
		height:100vh;
		width: 100%;
	}

	#header_content {
		position: relative;
		margin: 0 auto;
		width: 100%;
	}

	#logo img {
		width: 135px;
		margin-left: 5%;
	}

	#top_content {
		position: relative;
		margin-right: 0;
		float: none;
	}

	#navtop {
		float: none;
		text-align: center;
		margin-right: 0;

	}

	#navtop a {
		display: block;
		padding: 1em;
		font-size: 1.3em;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
	    -o-transition: all 0.2s ease-in-out;
	    transition: all 0.2s ease-in-out;
	}

	.top_bar {
		text-align: center;
		float: none;
	}

	#welcome_page p {
		font-size: 2.5em;		
	}
	
	#arrow {
		top: 90%;
	}

	#welcome_page p {
		font-size: 2.8em;		
	}

	#arrow img {
		width: 5em;
	}

	#disclamer {
		font-size: 1em;
	}

	p #quote {
		font-size: 3em;
		top: 0.48em;
	}
	
	.quotediv {
		padding: 3em 1em;
	}

	.quotediv p {
		width: 85%;
		font-size: 1.5em;
		line-height: 1.4em;
	}

	#heading hr {
		margin-bottom: 2em;
	}


	.about_adjust {
		float: none;
		margin: auto;
	}

	figure {
		text-align: center;
		width: 70%;
	}

	figure img {
		width: 80%;
	}

	figure p {
		margin-bottom: 4em;
	}

	aside {
		width: 100%;
		padding-bottom: 2em;
	}

	footer {
		height: 70em;
	}

	#navfooter_wrapper, .map, .form {
		flex: 0 0 100%;
		text-align: center;
	}

	.form button{
		margin: .5em auto 0;
	}

	.form {
		margin-top: 2em;
		border-bottom: 1px solid rgba(246, 246, 246, .2);
	    border-top: 1px solid rgba(246, 246, 246, .2);
	    padding: 2em 0;
		order: 2;
	}

	.map {
		margin-top: 2em;
	}

	#navfooter {
		text-align: center;
	}	
}



@media only screen and (max-width: 600px) {

	#welcome_copy p:first-child {
	    font-size: 1em;
	}

	#workwrapper {
		flex: 0 0 100%;
		justify-content: center;
		flex-flow: column wrap;
		margin: auto;
	}

	#left_content {
		flex-flow: column;
		flex: 0 0 80%;
	}

	.gallery {
		flex-flow: row wrap;
		flex: 0 0 100%;
	}

	.copywork {
		text-align: center;
		justify-content: center;
		align-items: center;
		flex-basis: 60%;
	}

	.copywork p {
		width: 80%;
	}

	#left_content #heading {
		align-self: center;
		margin-right: 0;
	}

	#heading hr {
	    margin: 0.5em auto 2em;
	}

	#about {
		padding-top: 7em;
		padding-bottom: 3em;

	}
}



@media only screen and (max-width: 420px) {

	#welcome_page p {
		font-size: 2.5em;		
	}

	#arrow {
		top: 92%;
	}

	.quotediv {
		padding: 2em 1em;
	}

	.quotediv p {
		width: 100%;
		font-size: 1.3em;
	}

	#disclamer {
		font-size: 12px;
	}

	#column1, #column2, #column3, #column4 {
		flex: 100%;
	}

	#work {
		padding-bottom: 
	}
}


	@media only screen and (max-width: 320px) {


	}


